@using EscolaWeb.Dtos.Professor
@model ProfessorCriacaoDto

<h1>Cadastro Professor</h1>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<form asp-action="CadastrarProfessor" asp-controller="Professor" method="post">

    <div class="form-group">
        <label class="form-label">Nome:</label>
        <input type="text" class="form-control" placeholder="Nome" asp-for="Nome" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label">Email:</label>
        <input type="email" class="form-control" placeholder="Email" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label">Data de Contratação:</label>
        <input type="date" class="form-control" placeholder="Data de Contratação" asp-for="DataContratacao" />
        <span asp-validation-for="DataContratacao" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Turmas" class="form-label">Selecione as Turmas:</label>
        <select id="Turmas" class="form-select" name="TurmasId" multiple="multiple" asp-for="TurmasId">
            @foreach(var turna in ViewBag.Turmas)
            {
                <option value="@turna.Value">@turna.Text</option>
            }
        </select>
        <span asp-validation-for="TurmasId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Selecione a Matéria:</label>
        <select class="form-select" asp-for="MateriaId">
            @foreach (var materia in ViewBag.Materias)
            {
                <option value="@materia.Value">@materia.Text</option>
            }
        </select>
        <span asp-validation-for="MateriaId" class="text-danger"></span>
    </div>

    <div class="d-flex flex-row justify-content-center gap-5">
        <button type="submit" class="btn btn-primary w-25">Criar Professor</button>
        <a class="btn btn-secondary w-25" asp-controller="Professor" asp-action="ListarProfessor">Voltar</a>
    </div>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Professor/Professor.js"></script>