@model List<ProfessorModel>

<div class="mb-5 d-flex justify-content-between align-items-center">
    <h1>Listagem de Professores</h1>
    <a asp-action="CadastrarProfessor" asp-controller="Professor" class="btn btn-success">Cadastro Professor</a>
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<table class="table table-striped table-bordered" id="registros">
    <thead class="table-primary">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Materia</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var professor in Model)
        {
            <tr>
                <th scope="row">@professor.Id</th>
                <td>@professor.Nome</td>
                <td>@professor.Email</td>
                <td>@professor.Materia.Descricao</td>
                <td width="100px" class="text-center">
                    <a asp-action="DetalhesProfessor" asp-controller="Professor" asp-route-id="@professor.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>