@model List<TurmaModel>

<div class="mb-5 d-flex justify-content-between align-items-center">
    <h1>Listagem de Turma</h1>
    <a class="btn btn-success" asp-action="CadastrarTurma" asp-controller="Turma">Cadastro Turma</a>
</div>

<table class="table table-striped table-bordered" id="registros">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Modalidade</th>
            <th scope="col">Turno</th>
            <th scope="col">Professores</th>
            <th scope="col">Alunos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var turma in Model)
        {
            <tr>
                <th scope="row">@turma.Id</th>
                <td>@turma.Descricao</td>
                <td>@turma.Modalidade</td>
                <td>@turma.Turno</td>
                <td><a href="#" id="professores" data-idturma="@turma.Id" data-nometurma="@turma.Descricao">Professores</a></td>
                <td><a href="#" id="alunos" data-idturma="@turma.Id" data-nometurma="@turma.Descricao">Alunos</a></td>
            </tr>
        }
    </tbody>
</table>